@page "/view"
@model PracticID.Pages.View.IndexModel
@{
	ViewData["Title"] = "Человек";
}

<form method="post">
     <button type="submit" asp-page-handler="saveFile">Save</button>
</form>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<th>Birth Day</th>
			<th>Other Information</th>
		</tr>
	</thead>
	@foreach (var p in Model.persons)
	{
		<tr>
			<td>@p.Name</td>
			<td>@p.SurName</td>
			<td>@p.BirthDay</td>
			<td>@p.OtherInfo</td>
            <td>
                <form method="post">
                    <button type="submit" asp-page-handler="delete" asp-route-id="@p.Id">Delete</button>
                </form>
            </td>
		</tr>
	}
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="person.Name" class="control-label"></label>
                <input asp-for="person.Name" class="form-control" />
                <span asp-validation-for="person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="person.SurName" class="control-label"></label>
                <input asp-for="person.SurName" class="form-control" />
                <span asp-validation-for="person.SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="person.BirthDay" class="control-label"></label>
                <input asp-for="person.BirthDay" class="form-control" />
                <span asp-validation-for="person.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="person.OtherInfo" class="control-label"></label>
                <input asp-for="person.OtherInfo" class="form-control" />
                <span asp-validation-for="person.OtherInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>